<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}Scot Gov prototype kit{% endblock %}</title>

    <link href="/scot-gov/design-system.min.css" media="all" rel="stylesheet" type="text/css" />

    {% block headCSS %}
      <!-- <link href="/css/main.css" rel="stylesheet"> -->
    {% endblock %}

    {% block customStyles %}
    {% endblock %}

    {% block headIcons %}
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    {% endblock %}

    {% block head %}{% endblock %}
    
  </head>

  <body>

    <div class="ds_skip-links">
      <ul class="ds_skip-links__list">
       <li class="ds_skip-links__item"><a class="ds_skip-links__link" href="/maincontent">Skip to main content</a></li>
      </ul>
    </div>

    <div class="ds_page">
      <div class="ds_page__top">
        <header class="ds_site-header  ds_site-header--gradient" role="banner">
          <div class="ds_wrapper">
            <div class="ds_site-header__content">
              <div class="ds_site-branding">
                <a class="ds_site-branding__logo  ds_site-branding__link" href="/">
                  <img class="ds_site-branding__logo-image" src="/public/images/scottish-government.svg" alt="Scottish Government" />
                </a>
      
                <div class="ds_site-branding__title">
                  Design System
                </div>
              </div>
              
              <div class="ds_site-header__controls">
                <label aria-controls="mobile-navigation" class="ds_site-header__control  js-toggle-menu" for="menu">
                  <span class="ds_site-header__control-text">Menu</span>
                  <svg class="ds_icon  ds_site-header__control-icon" aria-hidden="true" role="img"><use href="/assets/images/icons/icons.stack.svg#menu"></use></svg>
                  <svg class="ds_icon  ds_site-header__control-icon  ds_site-header__control-icon--active-icon" aria-hidden="true" role="img"><use href="/assets/images/icons/icons.stack.svg#close"></use></svg>
                </label>
              </div>
      
              <!-- <input class="ds_site-navigation__toggle" id="menu" type="checkbox" />
              <nav id="mobile-navigation" class="ds_site-navigation  ds_site-navigation--mobile" data-module="ds-mobile-navigation-menu">
                <ul class="ds_site-navigation__list">
                  <li class="ds_site-navigation__item">
                    <a href="#" class="ds_site-navigation__link">
                      Get started
                    </a>
                  </li>
                  <li class="ds_site-navigation__item">
                      <a href="#" class="ds_site-navigation__link">
                          Styles
                      </a>
                  </li>
                  <li class="ds_site-navigation__item">
                      <span class="ds_site-navigation__link  ds_current">
                          Components
                      </span>
                  </li>
                  <li class="ds_site-navigation__item">
                      <a href="#" class="ds_site-navigation__link">
                          Patterns
                      </a>
                  </li>
                </ul>
              </nav> -->
      
              <!-- <div class="ds_site-search  ds_site-header__search" data-module="ds-site-search">
                <form role="search" class="ds_site-search__form">
                  <label class="ds_label  visually-hidden" for="site-search">Search</label>
  
                  <div class="ds_input__wrapper  ds_input__wrapper--has-icon">
                    <input name="q" required="" id="site-search" class="ds_input  ds_site-search__input" type="text" placeholder="Search" autocomplete="off" />
  
                    <button type="submit" class="ds_button  js-site-search-button">
                      <span class="visually-hidden">Search</span>
                      <svg class="ds_icon" aria-hidden="true" role="img"><use href="/images/icons/icons.stack.svg#search"></use></svg>
                    </button>
                  </div>
                </form>
              </div> -->
            </div>
          </div>
      
          <!-- <div class="ds_site-header__navigation">
            <div class="ds_wrapper">
              <nav class="ds_site-navigation">
                <ul class="ds_site-navigation__list">
                  <li class="ds_site-navigation__item">
                    <a href="#" class="ds_site-navigation__link">
                      Get started
                    </a>
                  </li>
                  <li class="ds_site-navigation__item">
                    <a href="#" class="ds_site-navigation__link">
                      Styles
                    </a>
                  </li>
                  <li class="ds_site-navigation__item">
                    <span class="ds_site-navigation__link  ds_current">
                      Components
                    </span>
                  </li>
                  <li class="ds_site-navigation__item">
                    <a href="#" class="ds_site-navigation__link">
                      Patterns
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div> -->
        </header>
      </div>

      <div class="ds_page__middle">
        {% block main %}
          <div class="ds_wrapper">
            <main id="maincontent" role="main">
              {% block content %}{% endblock %}
            </main>
          </div>
      {% endblock %}
      </div>

      <div class="ds_page__bottom">
        <footer class="ds_site-footer">
          <div class="ds_wrapper">
            <div class="ds_site-footer__content">
              <ul class="ds_site-footer__site-items">
                <li class="ds_site-items__item">
                  <a href="#">Privacy</a>
                </li>
                <li class="ds_site-items__item">
                  <a href="#">Cookies</a>
                </li>
                <li class="ds_site-items__item">
                  <a href="#">Accessibility</a>
                </li>
              </ul>
      
              <div class="ds_site-footer__copyright">
                <a class="ds_site-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">
                  <img src="/public/images/ogl.svg" alt="Open Government License" />
                </a>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except for graphic assets and where otherwise stated</p>
                <p>&copy; Crown Copyright</p>
              </div>
      
              <div class="ds_site-footer__org">
                <a class="ds_site-footer__org-link" title="The Scottish Government" href="https://www.gov.scot/">
                  <img class="ds_site-footer__org-logo" src="/public/images/scottish-government--min.svg" alt="gov.scot" loading="lazy" width="300" height="55" />
                </a>
              </div>
            </div>
          </div>
        </footer>
        <script src="/js/design-system.js"></script>
      </div>
    </div>
  </body>
</html>
